@import "../global/mixin.less";
@import "../global/variables.less";

.about {
  min-height: 1250px;
  padding: 160px 0;
  color: @secondary-color;
  background: @primary-color;

  .container {
    .container();
  }

  .title {
    .title-2;
    position: relative;
    left: 10%;
    max-width: 748px;
    margin-bottom: 45px;
  }

  .content {
    flex-wrap: wrap-reverse;
    .flex-container(center, space-around);
  }

  .content-text {
    height: 705px;
    flex-direction: column;
    .flex-container(unset, space-around);

  }

  .text-block {
    width: 580px;
    .flex-container(center, space-between);

    .number {
      color: @active-color;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
    }

    .text {
      max-width: 470px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 29px;
    }
  }

  .button {
    .primary-button();

    &:hover {
      background: @active-color;
      border: 1px solid @active-color;
    }
  }

  .image {
    width: 470px;
    height: 720px;
  }
}

@import "./media/media.less";