@import "../global/mixin.less";
@import "../global/variables.less";

.partners {
  background: @primary-color;
  padding: 0;

  .container {
    min-height: 600px;
    flex-direction: column;
    .container();
    .flex-container(flex-start, space-evenly);
  }

  .title {
    .title-2();
    max-width: 501px;
    color: @secondary-color;
  }

  .partners-block {
    width: 100%;
    flex-wrap: wrap;
    .flex-container(unset, space-between);

    .partner {
      padding: 30px;
      object-fit: contain;
    }
  }
}

@import "./media/media.less";
