@import "../global/mixin.less";
@import "../global/variables.less";

.clients {
  background: #f3f3f5;
  color: @secondary-color;

  .container {
    min-height: 1000px;
    flex-direction: column;
    .container();
    .flex-container(unset, space-around);

    @media (max-width: 1250px) {
      align-items: center;
    }
  }

  .title {
    .title-2();
  }

  .client-block {
    flex-wrap: wrap-reverse;
    .flex-container(center, space-between);

    @media (max-width: 1200px) {
      min-height: 600px;
      justify-content: center;
    }
  }

  .client-about {
    min-width: 450px;

    @media (max-width: 1200px) {
      display: flex;
      width: 300px;
      justify-content: space-around;
      margin-top: 35px;
    }

    @media (max-width: 450px) {
      min-width: 200px;
    }

    .client {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 25px;
    }

    .position {
      min-width: 200px;

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  .text {
    max-width: 800px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 44px;

    @media (max-width: 1200px) {
      max-width: 600px;
    }

    @media (max-width: 650px) {
      max-width: 300px;
      font-size: 20px;
      line-height: 37px;
    }

    @media (max-width: 450px) {
    }
  }

  .pagination-block {
    .flex-container();
    flex-wrap: wrap-reverse;
    height: 150px;

    @media (max-width: 450px) {
      width: 300px;
    }
  }

  .buttons {
    .button {
      width: 69px;
      height: 69px;
      border-radius: 50%;
      border: 1px solid #dadada;
    }

    .button-arrow {
      background: transparent;
      cursor: pointer;
      margin-right: 15px;
      transition: .4s ease-in-out;

      &:hover {
        background: @active-color;
        opacity: 0.8;
      }
    }

    .button-arrow + .button-arrow {
      margin-right: 70px;

      @media (max-width: 450px) {
        margin-right: 0;
      }
    }

    .img-arrow {
      width: 50%;
      height: 50%;
    }

    .left {
      transform: translate(-5px, 2px);
    }

    .right {
      transform: translate(5px, 2px);
    }
  }

  .slider-lines {
    width: 160px;
    .flex-container(center, space-around);

    @media (max-width: 450px) {
      width: 200px;
    }

    .slide-control {
      width: 29px;
      height: 3px;
      background: #dadada;
      cursor: pointer;

      &:first-child {
        background-color: @active-color;
      }

      &:hover {
        background-color: @active-color;
      }
    }
  }
}
