@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  color: #ffffff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
img {
  object-fit: cover;
}
.section {
  display: flex;
  align-items: unset;
  justify-content: center;
  padding: 160px 0;
}
@media (max-width: 1250px) {
  .section {
    padding: 100px 0;
  }
}
#menu-toggle {
  display: none;
}
.header {
  width: 100%;
  min-height: 100vh;
  background: url("../images/header.png") center center / cover no-repeat;
}
@media (max-width: 650px) {
  .header {
    height: max-content;
  }
}
.header-top {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #bcbec0;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top .logo {
  min-width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top .logo .logo-img {
  width: 70px;
  height: 30px;
  margin: 4px 16px 8px 0;
}
.header-top .logo .logo-text {
  display: inline-block;
  color: #bcbec0;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
}
.header-top .menu {
  max-width: 880px;
  margin-left: 130px;
  height: 100%;
  color: #ffffff;
}
.header-top .menu .menu-list {
  height: 100%;
  justify-content: flex-end;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top .menu .list-item + .list-item {
  margin-left: 30px;
}
.header-top .menu .list-item {
  height: 100%;
}
.header-top .menu .list-item:last-child .link {
  position: relative;
  border: none;
}
.header-top .menu .list-item:last-child .link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
}
.header-top .menu .list-item:last-child .link:hover::before {
  content: attr(data-descr) url("#");
  display: inline-block;
  background: #ffffff;
  color: #000000;
  text-transform: none;
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 0;
  width: 200px;
  height: 49px;
  position: absolute;
  bottom: -60%;
  right: 40%;
}
.header-top .menu .link {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  height: 100%;
  padding: 31px 0;
}
.header-top .menu .link:hover,
.header-top .menu .link:active,
.header-top .menu .link:focus {
  color: #ed2985;
  border-bottom: 2px solid #ed2985;
}
@media (max-width: 1250px) {
  .header-top .menu {
    margin: 0;
  }
}
@media (max-width: 950px) {
  .header-top {
    justify-content: space-between;
  }
  .header-top .menu .list-item + .list-item {
    margin-left: 0;
  }
  .header-top .menu .list-item {
    height: auto;
  }
  .header-top .menu .link {
    font-size: 17px;
  }
  .header-top .menu .link:hover,
  .header-top .menu .link:active,
  .header-top .menu .link:focus {
    border-bottom: none;
  }
}
@media (max-width: 650px) {
  .header-top {
    justify-content: space-between;
  }
}
/* MENU BURGER */
@media (max-width: 950px) {
  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ed2985;
    transition-duration: 0.25s;
    z-index: 1000;
  }
  .menu-btn span::before {
    content: "";
    top: -8px;
  }
  .menu-btn span::after {
    content: "";
    top: 8px;
  }
  .menu-list {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #242539;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .list-item {
    display: flex;
    min-width: 20%;
    justify-content: center;
    align-items: center;
  }
  .link {
    display: block;
    height: auto;
    padding: 0;
    font-size: 20px;
    transition-duration: 0.25s;
  }
  #menu-toggle {
    display: none;
  }
  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    display: none;
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-list {
    visibility: visible;
    right: 0;
  }
}
/* ---------------- */
.header-content {
  position: relative;
  padding-top: 240px;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
}
.header-content h1 {
  font-weight: 300;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 65px;
}
.header-content .text-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 156px;
}
.header-content .text-block p {
  font-size: 16px;
  line-height: 29px;
  max-width: 480px;
  color: #bcbec0;
}
.header-content .text-block .button {
  position: relative;
  margin-top: 63px;
  display: inline-block;
  width: 257px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: 13px 0 12px 0;
  color: #ffffff;
  background: #ed2985;
  border: 1px solid #ed2985;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 950px) {
  .header-content .text-block .button {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .header-content .text-block .button {
    width: inherit;
  }
}
.header-content .text-block .button:hover {
  background: transparent;
  border-color: #ed2985;
}
.header-content .text-block .button::after {
  position: absolute;
  display: block;
  content: "";
  width: 255px;
  height: 255px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  top: -185%;
  left: 20%;
  z-index: -1;
}
@media (max-width: 950px) {
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header-content h1 {
    font-size: 45px;
    line-height: 65px;
    max-width: 500px;
    padding: 20px;
  }
  .header-content .text-block {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .header-content .text-block p {
    text-align: center;
    max-width: 500px;
  }
  .header-content .text-block .button::after {
    display: none;
  }
}
@media (max-width: 650px) {
  .header-content {
    padding-top: 140px;
  }
  .header-content h1 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 0;
  }
  .header-content .text-block {
    padding: 0;
  }
  .header-content .text-block p {
    font-size: 17px;
  }
  .header-content .text-block .button {
    margin-bottom: 25px;
  }
}
.about {
  min-height: 1250px;
  padding: 160px 0;
  color: #000000;
  background: #ffffff;
}
.about .container {
  height: 100%;
  width: 80%;
}
.about .title {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
  position: relative;
  left: 10%;
  max-width: 748px;
  margin-bottom: 45px;
}
@media (max-width: 950px) {
  .about .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.about .content {
  flex-wrap: wrap-reverse;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .content-text {
  height: 705px;
  flex-direction: column;
  display: flex;
  align-items: unset;
  justify-content: space-around;
}
.about .text-block {
  width: 580px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .text-block .number {
  color: #ed2985;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}
.about .text-block .text {
  max-width: 470px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}
.about .button {
  display: inline-block;
  width: 257px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: 13px 0 12px 0;
  color: #000000;
  background: #ffffff;
  border: 1px solid #242539;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 950px) {
  .about .button {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .about .button {
    width: inherit;
  }
}
.about .button:hover {
  background: #ed2985;
  border: 1px solid #ed2985;
}
.about .image {
  width: 470px;
  height: 720px;
}
@media (max-width: 1250px) {
  .about .container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .title {
    position: static;
    max-width: 580px;
    left: 0;
    text-align: center;
  }
}
@media (max-width: 950px) {
  .about .title {
    max-width: 500px;
  }
  .about .content-text {
    align-items: center;
    width: 470px;
  }
  .about .text-block {
    align-items: center;
    width: 100%;
  }
  .about .text {
    width: 400px;
  }
}
@media (max-width: 650px) {
  .about {
    padding: 100px 0;
  }
  .about .content-text {
    width: 370px;
  }
  .about .text-block {
    width: 95%;
  }
  .about .text {
    width: 290px;
    font-size: 17px;
    line-height: 27px;
  }
  .about .image {
    width: 370px;
    height: 500px;
  }
}
@media (max-width: 450px) {
  .about .content-text {
    width: 90%;
  }
  .about .number {
    margin-right: 20px;
  }
  .about .image {
    width: 85%;
  }
}
.industries {
  background: #242539;
  position: relative;
  padding: 0;
}
.industries .container {
  min-height: 785px;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: unset;
}
.industries .text-block {
  flex-direction: column;
  display: flex;
  align-items: unset;
  justify-content: space-evenly;
  min-height: 600px;
  z-index: 10;
}
.industries .text-top {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.industries .text-top .line {
  width: 50px;
  height: 2px;
  background-color: #ed2985;
}
.industries .text-top h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-left: 20px;
}
.industries .title {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
}
@media (max-width: 950px) {
  .industries .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.industries .text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  max-width: 630px;
}
.industries .button {
  display: inline-block;
  width: 257px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: 13px 0 12px 0;
  color: #ffffff;
  background: transparent;
  border: 1px solid #3e3f51;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 950px) {
  .industries .button {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .industries .button {
    width: inherit;
  }
}
.industries .button:hover {
  background: #ffffff;
  border: 1px solid #ed2985;
  color: #ed2985;
}
.industries .mask {
  width: 60%;
  height: 100%;
  background: url(../images/travel.jpg) center center / cover no-repeat;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  filter: brightness(35%);
}
@media (max-width: 950px) {
  .industries {
    position: static;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
  }
  .industries .container {
    justify-content: center;
  }
  .industries .title {
    text-align: left;
  }
  .industries .mask {
    height: 700px;
    position: static;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .industries .text {
    font-size: 17px;
    line-height: 27px;
  }
  .industries .mask {
    height: 550px;
  }
}
.partners {
  background: #ffffff;
  padding: 0;
}
.partners .container {
  min-height: 600px;
  flex-direction: column;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.partners .title {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
  max-width: 501px;
  color: #000000;
}
@media (max-width: 950px) {
  .partners .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.partners .partners-block {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: unset;
  justify-content: space-between;
}
.partners .partners-block .partner {
  padding: 30px;
  object-fit: contain;
}
@media (max-width: 1250px) {
  .partners .container {
    align-items: center;
  }
}
@media (max-width: 950px) {
  .partners .partners-block {
    justify-content: space-around;
  }
}
@media (max-width: 450px) {
  .partners {
    padding: 100px 0;
  }
}
.clients {
  background: #f3f3f5;
  color: #000000;
}
.clients .container {
  min-height: 1000px;
  flex-direction: column;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: unset;
  justify-content: space-around;
}
.clients .title {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
}
@media (max-width: 950px) {
  .clients .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.clients .client-block {
  flex-wrap: wrap-reverse;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients .client-about {
  min-width: 450px;
}
.clients .client-about .client {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 25px;
}
.clients .client-about .position {
  min-width: 200px;
}
.clients .client-about .position span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
.clients .text {
  max-width: 800px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 44px;
}
.clients .pagination-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  height: 150px;
}
.clients .buttons .button {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: 1px solid #dadada;
}
.clients .buttons .button-arrow {
  background: transparent;
  cursor: pointer;
  margin-right: 15px;
  transition: 0.4s ease-in-out;
}
.clients .buttons .button-arrow:hover {
  background: #ed2985;
  opacity: 0.8;
}
.clients .buttons .button-arrow + .button-arrow {
  margin-right: 70px;
}
.clients .buttons .img-arrow {
  width: 50%;
  height: 50%;
}
.clients .buttons .left {
  transform: translate(-5px, 2px);
}
.clients .buttons .right {
  transform: translate(5px, 2px);
}
.clients .slider-lines {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.clients .slider-lines .slide-control {
  width: 29px;
  height: 3px;
  background: #dadada;
  cursor: pointer;
}
.clients .slider-lines .slide-control:first-child {
  background-color: #ed2985;
}
.clients .slider-lines .slide-control:hover {
  background-color: #ed2985;
}
@media (max-width: 1250px) {
  .clients .container {
    align-items: center;
  }
}
@media (max-width: 1250px) {
  .clients .client-block {
    min-height: 600px;
    justify-content: center;
  }
  .clients .client-about {
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-top: 35px;
  }
  .clients .text {
    max-width: 600px;
  }
}
@media (max-width: 650px) {
  .clients .text {
    max-width: 300px;
    font-size: 20px;
    line-height: 37px;
  }
}
@media (max-width: 450px) {
  .clients .client-block {
    justify-content: flex-start;
  }
  .clients .client-about {
    min-width: 200px;
  }
  .clients .client-about .client {
    margin-right: 20px;
  }
  .clients .title {
    text-align: left;
  }
  .clients .pagination-block {
    width: 300px;
    justify-content: flex-start;
  }
  .clients .button-arrow + .button-arrow {
    margin-right: 0;
  }
  .clients .slider-lines {
    width: 200px;
  }
}
.featured {
  background: #ffffff;
  color: #000000;
}
.featured .container {
  min-height: 1300px;
  flex-direction: column;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: unset;
  justify-content: space-evenly;
}
.featured .title {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
}
@media (max-width: 950px) {
  .featured .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.featured .images-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.featured .image-block {
  padding-bottom: 50px;
  flex-direction: column;
  display: flex;
  align-items: unset;
  justify-content: center;
}
.featured .image-block .image {
  margin-bottom: 38px;
  object-fit: contain;
  width: 500px;
  height: 400px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.featured .image-block .image:hover {
  transform: scale(1.1);
}
.featured .image-block .image-button {
  width: 102px;
  background: #f3f3f5;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #676774;
  opacity: 0.87;
  padding: 8px 16px;
  margin-bottom: 28px;
}
.featured .image-block .image-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  text-transform: uppercase;
  color: #242539;
  margin-bottom: 13px;
}
.featured .image-block .text {
  max-width: 464px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #242539;
}
.featured .button {
  align-self: center;
  display: inline-block;
  width: 257px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: 13px 0 12px 0;
  color: #242539;
  background: #ffffff;
  border: 1px solid #242539;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 950px) {
  .featured .button {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .featured .button {
    width: inherit;
  }
}
.featured .button:hover {
  background: #ed2985;
  border: 1px solid #ed2985;
}
@media (max-width: 1250px) {
  .featured .container {
    align-items: center;
  }
  .featured .title {
    padding-bottom: 50px;
  }
}
@media (max-width: 950px) {
  .featured .image-block .image {
    width: 400px;
    height: 370px;
    margin-bottom: 19px;
  }
}
@media (max-width: 650px) {
  .featured .image-block {
    padding-bottom: 0;
  }
  .featured .image-block .image {
    object-fit: cover;
    width: 80%;
    height: 350px;
    margin-bottom: 0;
    padding: 25px 0;
  }
  .featured .image-block .image-title {
    max-width: 200px;
    font-size: 20px;
    line-height: 30px;
  }
  .featured .image-block .text {
    max-width: 85%;
    font-size: 16px;
    line-height: 27px;
  }
  .featured .button {
    align-self: flex-start;
    margin-top: 50px;
  }
}
@media (max-width: 450px) {
  .featured .title {
    width: 100%;
    text-align: left;
  }
}
.awards {
  color: #000000;
  background: #f3f3f5;
}
.awards .container {
  min-height: 440px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}
.awards .title {
  width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
  font-size: 50px;
  line-height: 61px;
}
@media (max-width: 950px) {
  .awards .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.awards .awards-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 70%;
}
.awards .awards-block .image {
  object-fit: contain;
}
@media (max-width: 950px) {
  .awards .title {
    max-width: 450px;
  }
  .awards .image {
    width: 30%;
  }
}
.footer {
  background: #121221;
  color: #ffffff;
}
.copyright {
  padding: 35px 0 43px;
}
.copyright p {
  font-size: 14px;
  line-height: 17px;
  color: #676774;
  text-align: center;
}
.tell-about {
  border-bottom: 1px solid #3e3f51;
}
.tell-about .container {
  height: 100%;
  width: 80%;
}
.tell-about .title {
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 85px;
  text-align: left;
  width: 595px;
  margin-bottom: 100px;
}
@media (max-width: 950px) {
  .tell-about .title {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }
}
.tell-about .wrap {
  display: flex;
  align-items: unset;
  justify-content: space-between;
}
.tell-about .main-text {
  margin-bottom: 72px;
}
.tell-about .main-text .text {
  width: 400px;
  font-size: 18px;
  line-height: 29px;
}
.tell-about .additional-text .title {
  width: 200px;
  font-weight: bold;
  font-size: 22px;
  line-height: 44px;
  margin: 0 0 6px;
}
.tell-about .additional-text .contact {
  width: 255px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.tell-about .additional-text .link {
  color: #ed2985;
  text-decoration-color: #ed2985;
  text-decoration: underline;
}
.tell-about .submit-form {
  width: 600px;
}
.tell-about .input-container {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  width: 100%;
}
.tell-about .input {
  width: 49%;
  padding: 22px 20px 23px;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  outline: transparent;
  font-size: 18px;
  line-height: 22px;
  color: #f9f9f9;
  background: #1e1e2c;
}
.tell-about .input:focus {
  border-bottom: 2px solid #ed2985;
}
.tell-about .textarea {
  width: 100%;
  height: 240px;
  margin-bottom: 40px;
  padding: 20px;
  border: none;
  outline: transparent;
  color: #f9f9f9;
  background: #1e1e2c;
  resize: none;
}
.tell-about .textarea:focus {
  border-bottom: 2px solid #ed2985;
}
.tell-about .button {
  display: inline-block;
  width: 257px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: 13px 0 12px 0;
  color: #ffffff;
  background: #ed2985;
  border: 1px solid transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 950px) {
  .tell-about .button {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .tell-about .button {
    width: inherit;
  }
}
.tell-about .button:hover {
  background: transparent;
  border-color: #ed2985;
}
@media (max-width: 1250px) {
  .tell-about {
    padding-bottom: 255px;
  }
  .tell-about .title {
    text-align: left;
    padding-left: 25px;
  }
  .tell-about .wrap {
    flex-direction: column;
    align-items: center;
  }
  .tell-about .description {
    width: 90%;
    position: relative;
  }
  .tell-about .main-text .text {
    width: 80%;
  }
  .tell-about .additional-text {
    position: absolute;
    top: 350%;
  }
  .tell-about .additional-text .title {
    text-align: left;
    width: 250px;
    padding-left: 0;
  }
  .tell-about .submit-form {
    width: 90%;
  }
}
@media (max-width: 950px) {
  .tell-about .additional-text {
    top: 320%;
  }
  .tell-about .submit-form {
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
  }
  .tell-about .button {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .tell-about .title {
    width: 300px;
    margin-bottom: 50px;
    padding-left: 10px;
  }
  .tell-about .main-text .text {
    width: 100%;
  }
  .tell-about .additional-text {
    top: 340%;
  }
  .tell-about .input-container {
    flex-direction: column;
  }
  .tell-about .input {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .tell-about .additional-text {
    top: 310%;
  }
}
.footer-content {
  border-bottom: 1px solid #3e3f51;
}
.footer-content .container {
  height: 100%;
  width: 80%;
  position: relative;
}
.footer-content .footer-logo {
  cursor: pointer;
  margin-bottom: 60px;
}
.footer-content .logo-img {
  width: 99px;
  height: 42px;
  object-fit: contain;
}
.footer-content .nav-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-content .footer-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-content .menu-block {
  margin-right: 35px;
}
.footer-content .menu-block:last-child {
  margin-right: 0;
}
.footer-content .footer-menu-list {
  list-style-type: none;
}
.footer-content .menu-list-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.footer-content .menu-list-item {
  width: 205px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 30px;
}
.footer-content .menu-list-item .footer-menu-link {
  color: #676774;
  text-decoration: none;
}
.footer-content .social-container {
  width: max-content;
  display: flex;
  position: absolute;
  right: 0;
}
.footer-content .social-button {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border-color: transparent;
  background: #1e1e2c;
  margin-right: 20px;
  cursor: pointer;
}
.footer-content .social-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.footer-content .social-img.linkedin-size {
  width: 20px;
  height: 16px;
}
.footer-content .slider-title {
  margin: 66px 0 54px;
  width: 200px;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}
.footer-content .slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-content .pink-arrow {
  cursor: pointer;
}
.footer-content .left {
  transform: translateX(-20px);
}
.footer-content .right {
  transform: translateX(20px);
}
.footer-content .slide {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-content .slide-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-content .slide-item:hover .date-wrap {
  background: #ed2985;
}
.footer-content .slide-item:hover .slide-link {
  color: #ed2985;
}
.footer-content .date-wrap {
  margin-right: 15px;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.footer-content .day {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
.footer-content .month {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 3px;
}
.footer-content .slide-link {
  width: 400px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.footer-content .slider-lines {
  display: none;
}
.footer-content .slider-lines .slide-control {
  width: 29px;
  height: 3px;
  background: #dadada;
  cursor: pointer;
}
.footer-content .slider-lines .slide-control:first-child {
  background-color: #ed2985;
}
.footer-content .slider-lines .slide-control:hover {
  background-color: #ed2985;
}
@media (max-width: 1250px) {
  .footer-content .pink-arrow {
    display: none;
  }
  .footer-content .slide {
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-content .slide-item + .slide-item {
    display: none;
  }
  .footer-content .slider-lines:last-child {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media (max-width: 950px) {
  .footer-content .social-container {
    top: -8px;
  }
}
@media (max-width: 650px) {
  .footer-content .menu-block {
    margin-right: 0;
  }
  .footer-content .menu-list-title {
    font-size: 20px;
    line-height: 24px;
  }
  .footer-content .menu-list-item {
    font-size: 14px;
    line-height: 27px;
    width: 170px;
  }
  .footer-content .social-container {
    top: 2px;
  }
  .footer-content .social-button {
    width: 44px;
    height: 44px;
  }
  .footer-content .slider-title {
    font-size: 18px;
    line-height: 26px;
  }
  .footer-content .slide-link {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .footer-content .menu-block {
    width: 100%;
  }
  .footer-content .menu-list-title {
    width: 100%;
  }
  .footer-content .menu-list-item {
    width: 100%;
  }
  .footer-content .social-container {
    left: 140px;
  }
}
